@model FactoryManagementSystem.Data.AdditionUserData.EmpLedgerTitle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EmpLedgerTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LedgerTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LedgerTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LedgerTitleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
