


@*VIEW:---------------------*@
@model IEnumerable<FactoryManagementSystem.Data.AdditionUserData.PermissionMap>

@{
    
    ViewData["Title"] = "AccessFor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.Message</p>
    </div>
}*@

    @if (String.IsNullOrEmpty(ViewBag.IsNullUserId))
    {
        <div class="col-md-6">
            @using (Html.BeginForm("AccessFor", "PermissionMaps", FormMethod.Get))
            {
                <div class="form-group">
                    @Html.DropDownList("Id", @ViewBag.UserList, " -- ", htmlAttributes: new { @class = "form-control" })
                    @Html.Hidden("UserId")
                    <input type="submit" class="btn btn-primary" style="margin-top:5px;"/>
                </div>

            }
        </div>
        @*<div class="col-md-6">

        </div>*@
       
    }

    @using (Html.BeginForm("AccessFor", "PermissionMaps", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("uap")
        @*@Html.Hidden("test")*@

        <div>
            <hr />
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Access Point Name
                        </th>
                        <th>
                            Permission
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(modelItem => item.PermissionId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserRole.Name)
                            </td>
                            <td>
                                @*@Html.CheckBox("permitted", item.permitted.Value, new { @class = "checkbox", @value = item.permitted.Value })*@
                                @Html.CheckBoxFor(modelItem => item.IsPermitted, new { @class = "checkbox" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <div class="offset-md-2 col-md-10">
                    <input id="btnSave" type="submit" value="Save" class="btn btn-default" />

                    <p>
                        @Html.ActionLink("Back", "Index")
                    </p>
                </div>
            </div>
        </div>
    }
    @section scripts {
        <script type="text/javascript">
            //function AccessFor() {
            $("#btnSave").click(function () {
                var uap = new Array();

                $("table tbody tr").each(function () {
                    var tdlist = $(this).find("td");
                    var Item = {};
                    Item.PermissionId = tdlist.eq(0).find("input").val();
                    Item.IsPermitted = tdlist.eq(2).find("input:first").prop("checked");

                    //Item = { id: $(tdlist[0]).val(), user_id: $(tdlist[1]).val(), access_point_id: $(tdlist[2]).val(), permitted: $(tdlist[4]).val()/**/ };
                    uap.push(Item);
                })

                //console.log(uap);

                $("#uap").val(JSON.stringify(uap));
                //$("#test").val(JSON.stringify(uap));
                //$("Select #Id").change(function () {
                   
                //    var bla = $($(this).find('#Id')).val();
                //    $('#UserId').val = bla;
                //})
                @*$.ajax({
                    url: '@Url.Action("AccessFor", "user_access_permission")', //
                    dataType: "json",
                    data: JSON.stringify({ uap: uap }),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (r) {
                        alert(r + " record(s) updated.");
                    },
                    error: function (xhr) {
                        alert("error");
                    }
                });*@
                //});
            });
        </script>
    }

